body {
	background-color:#DFDFD5;
	text-align:center;
	vertical-align:middle;
	color:#2F403F;
	font-family: "HelveticaNeue-Roman", "Helvetica 55 Roman", Helvetica, Arial, sans-serif;
	font-size:1.1em;
	line-height:2em;
}

#wrapper {
	width:512px;
	margin:20px auto 50px;
	text-align:left;
}

h1#teamtasks_logo {
	text-indent:-9999px;
	overflow: hidden;
	height:110px;
	width:512px;
	background: transparent url(/images/teamtasks.png) no-repeat top left;
}

a {
	text-decoration:none;
	color:#88AB19;
}
a:hover {
	text-decoration:none;
	border-bottom:solid 2px #fff;
}

p#subtitle {
	font-size: 1.3em;
	letter-spacing:-0.02em;
	line-height:1.8em;
	background-color:#eee;
	padding-left:0.6em;
	text-align:center;
	margin-bottom:1em;
}

img#screenshot {
	border:solid 1px #fff;
	margin:1em 0 0.5em 0;
}

a#download_button {
	display:block;
	border-style:none;
	border-top:solid 1px #fff;
	background-color:#2F403F;
	color:#9BBE2E;
	text-align:center;
	line-height:3em;
	clear:left;
	margin:2em 0 0 0;
}
a#download_button:hover {
	background-color:#9BBE2E;
	color:#fff;
}

p.meta {
	display:block;
	margin-left:1em;
	font-size:0.7em;
	line-height:2em;
	text-align:right;
}

h2 {
	clear:left;
	margin:1em 0 0.2em 0;
	font-size:2em;
	letter-spacing:-0.06em;
	font-weight:normal;
}

div#footer {
	margin: 4em 0 0.5em 0;
	padding: 2em 0 0 0;
	background-color:#eee;

}

	div#footer p {
		margin:0 2em;
		padding: 0 0 2em 0;
		font-size:0.8em;
		line-height:1.7em;
	}